@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: currentColor;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* View Transition Styles */
::view-transition-group(root) {
  animation-timing-function: ease;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: anim 3s;
}

::view-transition-new(root) {
  mask: url('https://media.tenor.com/cyORI7kwShQAAAAi/shigure-ui-dance.gif') center / 0 no-repeat;
  animation: anim 3s;
}

@keyframes anim {
  0% {
    mask-size: 0;
  }

  10%,
  90% {
    mask-size: 50vmax;
  }

  100% {
    mask-size: 2000vmax;
  }
}
